@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url('https://fonts.cdnfonts.com/css/motiva-sans');

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: linear-gradient(to right, #fafafa, #2a5298) !important;
  color: #e0e0e0 !important;
}

.navbar-brand img {
    width: 50px;
    height: 50px;
    border-radius: 20%;
    font-weight: bold;
}

.navbar-nav {
    gap: 50px !important;
}

.nav-link {
    font-size: 1.1rem !important;
    font-weight: 500 !important;
}

.active {
    font-weight: 700 !important;
    border-bottom: 2px solid #e0e0e0 !important;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 0px !important;
}

.steam-portfolio {
    background-color: #000000;
    min-height: 100vh;
    color: #c7d5e0;
    font-family: "Motiva Sans", Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

/* Main Content */
.content {
    /* background: url("/images/webpage/hs.jpg") no-repeat center center; backup bg*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    height: 100%;
}

.wrapper {
    position: relative;
    z-index: 1;
    width: 50%;
    padding: 3rem 2rem;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
}

.content video {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translateX(-50%);
    z-index: 0;
}