@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: linear-gradient(to right, #fafafa, #2a5298) !important;
  color: #e0e0e0 !important;
}

.navbar-brand img {
    width: 50px;
    height: 50px;
    border-radius: 20%;
    font-weight: bold;
}

.hero-section {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url('/images/webpage/homebanner.png');
    background-size: cover;
    background-position: center;
    min-height: 500px;
    display: flex;
    align-items: center;
    color: white;
}

.hero-overlay {
    width: 100%;
    padding: 80px 0;
}

.hero-title {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.hero-text {
    font-size: 1.2rem;
    max-width: 800px;
    margin: 0 auto;
}

.navbar-nav {
    gap: 50px !important;
}

.nav-link {
    font-size: 1.1rem !important;
    font-weight: 500 !important;
}

.active {
    font-weight: 700 !important;
    border-bottom: 2px solid #e0e0e0 !important;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 0px !important;
}